In [20]:
import numpy as np
import pandas as pd
from scipy import linalg

In [21]:
np.set_printoptions(formatter={'float_kind':"{:.8f}".format})
pd.options.display.float_format = '{:.8f}'.format

# Data creation

In [22]:
def b(a):
    size=a.shape[0]
    return np.random.randint(100, size=(size))

In [23]:
def pretty_view(a,b):
    pret=pd.DataFrame(data=a, index=list(range(1, a.shape[0]+1)), columns=list(range(1, a.shape[1]+1)))
    pret['b']=b
    display(pret)

matrices by Pakulina A. N.

In [24]:
a1=np.matrix('-401.52 200.16; 1200.96 -601.68')
b1=b(a1)
pretty_view(a1,b1)

              1             2   b
1 -401.52000000  200.16000000  88
2 1200.96000000 -601.68000000   0

In [25]:
a2=np.matrix('-403.15 200.95; 1205.70 -604.10')
b2=b(a2)
pretty_view(a2,b2)

              1             2   b
1 -403.15000000  200.95000000  98
2 1205.70000000 -604.10000000  77

Hilbert matrices of order 5, 6

In [26]:
h5=linalg.hilbert(5)
b5=b(h5)
pretty_view(h5,b5)

           1          2          3          4          5   b
1 1.00000000 0.50000000 0.33333333 0.25000000 0.20000000  26
2 0.50000000 0.33333333 0.25000000 0.20000000 0.16666667  29
3 0.33333333 0.25000000 0.20000000 0.16666667 0.14285714   3
4 0.25000000 0.20000000 0.16666667 0.14285714 0.12500000  81
5 0.20000000 0.16666667 0.14285714 0.12500000 0.11111111  17

In [27]:
h6=linalg.hilbert(6)
b6=b(h6)
pretty_view(h6,b6)

           1          2          3          4          5          6   b
1 1.00000000 0.50000000 0.33333333 0.25000000 0.20000000 0.16666667  30
2 0.50000000 0.33333333 0.25000000 0.20000000 0.16666667 0.14285714  12
3 0.33333333 0.25000000 0.20000000 0.16666667 0.14285714 0.12500000  95
4 0.25000000 0.20000000 0.16666667 0.14285714 0.12500000 0.11111111  88
5 0.20000000 0.16666667 0.14285714 0.12500000 0.11111111 0.10000000  35
6 0.16666667 0.14285714 0.12500000 0.11111111 0.10000000 0.09090909  33

Diagonally dominant matrix

In [28]:
diag_m=np.matrix('''6 -1 0 0 0;
                    -1 6 -1 0 0;
                    0 -1 6 -1 0;
                    0 0 -1 6 -1;
                    0 0 0 -1 6''')
diag_m_b=b(diag_m)
pretty_view(diag_m, diag_m_b)

   1  2  3  4  5   b
1  6 -1  0  0  0  58
2 -1  6 -1  0  0  68
3  0 -1  6 -1  0  35
4  0  0 -1  6 -1  17
5  0  0  0 -1  6  59

# Calculation functions

In [29]:
def cond_nums(A):
    v0 = 1
    mult = np.zeros(A.shape[0])
    cond_s = np.dot(np.linalg.norm(A), np.linalg.norm(np.linalg.inv(A)))  # Spectral criterion
    for i in range(A.shape[0]):
        v0 *= np.linalg.norm(A[i])
    cond_v = v0 / abs(np.linalg.det(A))  # Volume criterion
    C = np.linalg.inv(A)
    for i in range(A.shape[0]):
        mult[i] = np.linalg.norm(A[i]) * np.linalg.norm(C[:, i])
    cond_a = max(mult)  # Angle criterion
    return cond_s, cond_v, cond_a

In [30]:
def varied_matrix(A, b): 
    x_inacc = []
    for i in (-2, -5, -8):
        A_inacc = A + 10 ** i
        b_inacc = b + 10 ** i
        x_inacc.append(np.linalg.solve(A_inacc, b_inacc))
    return x_inacc

# Results

In [31]:
pd.DataFrame(a1)[0]

0   -401.52000000
1   1200.96000000
Name: 0, dtype: float64

In [32]:
def print_result(A,b):
    print('Матрица и свободный коэффициент:')
    pretty_view(A,b)
    cond_numbs=cond_nums(A)
    print('Числа обусловленности:')
    print(f'\t Спектральный критерий:{cond_numbs[0]}')
    print(f'\t Критерий Ортеги:{cond_numbs[1]}')
    print(f'\t Угловой критерий:{cond_numbs[2]}')
    x_acc=np.linalg.solve(A,b)
    x_inacc=varied_matrix(A, b)
    print('==========================================')
    df=pd.Series(x_acc).to_frame().T
    df.index = ['"Точное" решение:']
    df.columns = [''] * len(df.columns)
    display(df)
    df = pd.DataFrame(columns=list(range(len(x_acc))), index=['Приближенное','x-x̄'])
    df.index.name = 'при е=10^-2:'
    df.loc['Приближенное']=pd.Series(x_inacc[0])
    sub1=x_acc-x_inacc[0]
    df.loc['x-x̄']=pd.Series(sub1)
    df.columns = [''] * len(df.columns)
    display(df)
    df = pd.DataFrame(columns=list(range(len(x_acc))), index=['Приближенное','x-x̄'])
    df.index.name = 'при е=10^-5:'
    df.loc['Приближенное']=pd.Series(x_inacc[1])
    sub2=x_acc-x_inacc[1]
    df.loc['x-x̄']=pd.Series(sub2)
    df.columns = [''] * len(df.columns)
    display(df)
    df = pd.DataFrame(columns=list(range(len(x_acc))), index=['Приближенное','x-x̄'])
    df.index.name = 'при е=10^-8:'
    df.loc['Приближенное']=pd.Series(x_inacc[2])
    sub3=x_acc-x_inacc[2]
    df.loc['x-x̄']=pd.Series(sub3)
    df.columns = [''] * len(df.columns)
    display(df)

In [33]:
print_result(a1, b1)

Матрица и свободный коэффициент:

              1             2   b
1 -401.52000000  200.16000000  88
2 1200.96000000 -601.68000000   0

Числа обусловленности:
	 Спектральный критерий:1668.0023952096462
	 Критерий Ортеги:501.20003952284793
	 Угловой критерий:501.2000395228477
==========================================

"Точное" решение: -44.03512974 -87.89461078

при е=10^-2:
Приближенное -43.16604438 -86.15774069
x-x̄          -0.86908536  -1.73687009

при е=10^-5:
Приближенное -44.03424329 -87.89283921
x-x̄          -0.00088645  -0.00177157

при е=10^-8:
Приближенное -44.03512885 -87.89460901
x-x̄          -0.00000089  -0.00000177

In [34]:
print_result(a2, b2)

Матрица и свободный коэффициент:

              1             2   b
1 -403.15000000  200.95000000  98
2 1205.70000000 -604.10000000  77

Числа обусловленности:
	 Спектральный критерий:1607.6024850894462
	 Критерий Ортеги:483.0800409904852
	 Угловой критерий:483.0800409904851
==========================================

"Точное" решение: -59.38365805 -118.64902584

при е=10^-2:
Приближенное -58.25908037 -116.40161660
x-x̄          -1.12457769   -2.24740924

при е=10^-5:
Приближенное -59.38251191 -118.64673534
x-x̄          -0.00114614   -0.00229051

при е=10^-8:
Приближенное -59.38365691 -118.64902355
x-x̄          -0.00000115   -0.00000229

In [35]:
print_result(h5, b5)

Матрица и свободный коэффициент:

           1          2          3          4          5   b
1 1.00000000 0.50000000 0.33333333 0.25000000 0.20000000  26
2 0.50000000 0.33333333 0.25000000 0.20000000 0.16666667  29
3 0.33333333 0.25000000 0.20000000 0.16666667 0.14285714   3
4 0.25000000 0.20000000 0.16666667 0.14285714 0.12500000  81
5 0.20000000 0.16666667 0.14285714 0.12500000 0.11111111  17

Числа обусловленности:
	 Спектральный критерий:480849.11699433636
	 Критерий Ортеги:16085725624.19305
	 Угловой критерий:95157.69988922618
==========================================

,,,,,
"""Точное"" решение:",-107589.99999988,2037779.99999810,-8844359.99999253,13406119.99998949,-6573419.99999513

,,,,,
при е=10^-2:,,,,,
Приближенное,-113021.39999990,2168133.59999875,-9528716.39999615,14622753.59999578,-7257776.39999851
x-x̄,5431.40000002,-130353.60000065,684356.40000361,-1216633.60000630,684356.40000339

,,,,,
при е=10^-5:,,,,,
Приближенное,-107594.07456879,2037877.78965070,-8844873.39566430,13407032.70340034,-6573933.39566134
x-x̄,4.07456891,-97.78965260,513.39567177,-912.70341086,513.39566622

,,,,,
при е=10^-8:,,,,,
Приближенное,-107590.00407312,2037780.09775731,-8844360.51323372,13406120.91242500,-6573420.51324294
x-x̄,0.00407324,-0.09775921,0.51324119,-0.91243552,0.51324781

In [36]:
print_result(h6, b6)

Матрица и свободный коэффициент:

           1          2          3          4          5          6   b
1 1.00000000 0.50000000 0.33333333 0.25000000 0.20000000 0.16666667  30
2 0.50000000 0.33333333 0.25000000 0.20000000 0.16666667 0.14285714  12
3 0.33333333 0.25000000 0.20000000 0.16666667 0.14285714 0.12500000  95
4 0.25000000 0.20000000 0.16666667 0.14285714 0.12500000 0.11111111  88
5 0.20000000 0.16666667 0.14285714 0.12500000 0.11111111 0.10000000  35
6 0.16666667 0.14285714 0.12500000 0.11111111 0.10000000 0.09090909  33

Числа обусловленности:
	 Спектральный критерий:15118987.12699086
	 Критерий Ортеги:3955105185456529.5
	 Угловой критерий:2441571.413179607
==========================================

,,,,,,
"""Точное"" решение:",-179436.00000726,5433120.00021852,-37807560.00151855,99895320.00401440,-111331080.00447905,44146872.00177839

,,,,,,
при е=10^-2:,,,,,,
Приближенное,-194176.78126885,5949047.34430841,-41934978.75387526,112277576.26029074,-126808900.32406788,50957112.94213510
x-x̄,14740.78126159,-515927.34408990,4127418.75235672,-12382256.25627634,15477820.31958883,-6810240.94035670

,,,,,,
при е=10^-5:,,,,,,
Приближенное,-179445.43752222,5433450.31313139,-37810202.50421443,99903247.51076806,-111340989.38664444,44151232.12948675
x-x̄,9.43751495,-330.31291287,2642.50269588,-7927.50675365,9909.38216539,-4360.12770835

,,,,,,
при е=10^-8:,,,,,,
Приближенное,-179436.00944368,5433120.33048669,-37807562.64361513,99895327.93017171,-111331089.91202983,44146876.36104459
x-x̄,0.00943641,-0.33026818,2.64209658,-7.92615731,9.90755078,-4.35926619

In [37]:
print_result(diag_m, diag_m_b)

Матрица и свободный коэффициент:

   1  2  3  4  5   b
1  6 -1  0  0  0  58
2 -1  6 -1  0  0  68
3  0 -1  6 -1  0  35
4  0  0 -1  6 -1  17
5  0  0  0 -1  6  59

Числа обусловленности:
	 Спектральный критерий:5.481288320677154
	 Критерий Ортеги:1.2506733171968796
	 Угловой критерий:1.1220990213219455
==========================================

"Точное" решение: 12.15295815 14.91774892 9.35353535 6.20346320 10.86724387

при е=10^-2:
Приближенное 12.26292050 15.04648532  9.48495376  6.33219960 10.97720621
x-x̄         -0.10996234 -0.12873640 -0.13141841 -0.12873640 -0.10996234

при е=10^-5:
Приближенное 12.15306686 14.91787618  9.35366527  6.20359047 10.86735257
x-x̄         -0.00010870 -0.00012726 -0.00012991 -0.00012726 -0.00010870

при е=10^-8:
Приближенное 12.15295826 14.91774905  9.35353548  6.20346333 10.86724398
x-x̄         -0.00000011 -0.00000013 -0.00000013 -0.00000013 -0.00000011